body{
    text-align: center;
    font-family: Arial, sans-serif;
    width: 40%;
    margin: 0 auto;
    background-color: antiquewhte;
}
h1{
    color: darkred;
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;
}

.logo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.espera img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    visibility: hidden;
}

.cuadro{
    background-color: #d54d4d;
    border-radius: 5%;
    margin: 10px;
    color: white;
}
.cuadro div{
    margin: 20px
}